@keyframes memeTime {
	0% { transform: translate(0px, 0px) rotate(0deg); }
	10% { transform: translate(-500px, -500px) rotate(-300deg); }
	20% { transform: translate(-1000px, -1000px) rotate(300deg); }
	30% { transform: translate(-500px, -500px) rotate(0deg); }
	40% { transform: translate(0px, 0px) rotate(300deg); }
	50% { transform: translate(500px, 500px) rotate(-300deg); }
	60% { transform: translate(1000px, 1000px) rotate(0deg); }
	70% { transform: translate(500px, 500px) rotate(-300deg); }
	80% { transform: translate(0px, 0px) rotate(300deg); }
	90% { transform: translate(500px, -500px) rotate(0deg); }
	100% { transform: translate(-500px, 500px) rotate(-300deg); }
}
html {
  position: relative;
  min-height: 100%;
	animation-name: memeTime;
	animation-duration: 0.8s;
	transform-origin:50% 50%;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}
