<div ng-controller="catConfigCtrl">
  <div class="container">
    <link href="css/home.css" rel="stylesheet">
    <!-- Main component for a primary marketing message or call to action -->
    <div class="jumbotron">
      <h1 class="display-3">Category Configuration</h1>
      <p class="lead">Here, you can set categories (and subcategories) for Oden to categorize articles. There's no delete feature right now, so don't mess up!</p>
    </div>
    <div class="just-padding">
      <div class="list-group list-group-root well">
        <a class="list-group-item"><b>Categories:</b></a>
        <div class="input-group">
          <input type="text" class="form-control" placeholder="New Category Name" ng-model="newCatName">
          <span class="input-group-btn">
                <button class="btn btn-success" type="button" ng-click="addCat()"><span class="glyphicon glyphicon-plus"></span></button>
          </span>
        </div>
        <div ng-repeat="category in categoryJson.categories">
          <!-- <a class="list-group-item">
              {{category.name}}
            </a>
          <span class="pull-right">
            <button type="button" class="btn btn-danger" ng-click="delete($index)"><span class="glyphicon glyphicon-remove"></span> Delete</button>
          </span> -->
          <div class="row">
            <div class="col-md-8">{{category.name}}</div>
            <div class="col-md-4"><button type="button" class="btn btn-danger" ng-click="delete($index)"><span class="glyphicon glyphicon-remove"></span> Delete</button></div>
          </div>
          <div class="list-group">
            <a class="list-group-item" style="padding-left:30px">
              <b>Subcategories:</b>
            </a>
            <div class="input-group">
              <input type="text" class="form-control" style="padding-left:30px" placeholder="New Subcategory Name">
              <span class="input-group-btn">
                <button class="btn btn-success" type="button" ng-click="addSub($index)"><span class="glyphicon glyphicon-plus"></span></button>
              </span>
            </div>
            <div ng-repeat="sub in category.subs">
              <a class="list-group-item" style="padding-left:30px">
                {{sub.name}}
              </a>
              <a class="list-group-item" style="padding-left:45px">
                <b>Keywords:</b>
              </a>
              <div class="input-group">
                <input type="text" class="form-control" style="padding-left:45px" placeholder="New Keyword">
                <span class="input-group-btn">
                      <button class="btn btn-success" type="button"><span class="glyphicon glyphicon-plus"></span></button>
                </span>
              </div>
              <div class="list-group">
                <a class="list-group-item" ng-repeat="keyword in sub.keywords" style="padding-left:45px" ng-click="openPage(item.path)">
                  {{keyword}}
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
