<div ng-controller="settingsCtrl">
  <div class="container text-center">
      <div class="jumbotron">
          <h1 class="display-3">Settings</h1>
          <p class="lead">It's settings.</p>
      </div>
      <button type="button" class="btn btn-primary" id="btnMeme" ng-click="handleMemeClick()">Enable Hard Mode</button>
      <button type="button" class="btn btn-primary" id="btnSuperMeme" ng-click="handleSuperMemeClick()">Enable Beyblade Mode</button>
      <button type="button" class="btn btn-primary" id="btnSuperDankMeme" ng-click="handleSuperDankMemeClick()">Enable Fidget Spinner Mode</button>
      <button type="button" class="btn btn-primary" id="btnNormalMeme" ng-click="handleNormalClick()">Delete everything</button>
  </div>
</div>
